<%= form_for @blog, :html => { :onsubmit => "return updateWiki();" } do |f| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :required => true %>
  </div>
  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_area :post, cols: "80", rows: "20", id: 'wiki-editor' %>
    <div id="editor"></div>
  </div>
  <div class="actions">
    <%= f.submit class: "green button" %>
  </div>
<% end %>

<% content_for :head do %>
  <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.css" />
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<% end %>

