<div class="card wide">
  <h3 class="green">Calculate CO2e emissions for my recipe</h3>
  <div class="card-text">

  <%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
      <h2><%= pluralize(@recipe.errors.count, "error") %></h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>
  
    <%= f.text_field :url, size: "64", placeholder: 'e.g. https://www.bonappetit.com/recipe/white-pesto-pasta' %>
    <%= f.submit "Calculate!", class: "green button" %>
    <div class="space_8"></div>
    <strong>Examples:</strong> 
    <%= link_to "Mushroom risotto", '#', :onclick => "document.getElementById('recipe_url').value='https://www.bbcgoodfood.com/recipes/mushroom-risotto';return false;", :title => "BBC Good Food" %>,
    <%= link_to "White pesto pasta", '#', :onclick => "document.getElementById('recipe_url').value='https://www.bonappetit.com/recipe/white-pesto-pasta';return false;", :title => "Bon Appétit" %>
    <div class="space_8"></div>
    <strong><%= link_to "... or fill in your own ingredients", new_recipe_path, remote: controller.controller_name == "recipes" %></strong>
    <div class="float_right">
    <%= link_to "Supported websites", 'https://github.com/hhursev/recipe-scrapers#scrapers-available-for', target: "_blank" %>
    </div>
  <% end %>
  </div>
</div>
