<% content_for(:html_title) { @recipe.name } %>
<% content_for(:meta_description) { @recipe.description } %>

<h1><%= @recipe.name %></h1>

<%= form_for(@recipe) do |f| %>

<div id="info_charts_box">
  <button type="button" onclick="saveAsPDF()" class="green button no-print">Save as PDF</button>
  <div class="space_16"></div>
  CO2e total: <strong><span class="recipe-co2e-total"><%= @recipe.co2_equiv %></span> kg</strong><br />
  Servings: 
  <% if @csv_table %>
    <%= f.select :servings, options_for_select(1..10, @recipe.servings.to_i), {}, :onchange=> "calculateRecipeCO2e();" %>
  <% else %>
    <strong><%= @recipe.servings %></strong>
  <% end %>
  <div id="co2_gauge" class="co2_chart">
    <div class="front"></div><div class="back"></div>
    <div class="co2_cell" id="co2_cell_gauge" style='display:inline-block; margin-right: 5px; background-color:<%= @recipe.co2_equiv_color %>'><span class="recipe-co2e-per-serving"><%= @recipe.co2_equiv_per_serving %></span></div><strong>kg CO2e / portion</strong>
  </div>

  <div id="daily_budget" class="daily_budget_chart">
    <div class="daily-budget-chart"></div>
    <div style="margin-bottom:3px;"><svg height="11" width="11"><rect class="rect" x="0" y="0" width="11" height="11" fill="rgb(153, 153, 153)"></rect></svg> = 0.1 portion of <%=@recipe.name%></div>
    You can eat
    <div class="co2_cell" id="co2_cell_daily_budget" style='display:inline-block; margin-right: 5px; background-color:<%= @recipe.co2_equiv_color %>'><%= (2.7 / @recipe.co2_equiv_per_serving).round(2) %></div> portions of <%=@recipe.name%> to exhaust your <a href="/blogs/75a697d4-fe34-4977-ae2f-b472f1ee02da" target="_blank">daily CO2e food budget</a>
  </div>
</div>

<% if user_signed_in? && current_user.admin? && !@csv_table %>
<p>
  <%= link_to 'Edit recipe', edit_recipe_path(@recipe), class: "green button" %>
  <%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "green button" %>
</p>
<% end %>

<svg id="ingredient_pie_chart"></svg>

<% if user_signed_in? && current_user.admin? && @csv_table %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country_consumption %><br>
    <%= f.text_field :country_consumption_name, :value => @country_consumption_name, id: 'country-autocomplete-consumption', :required => true %>
  </div>
  <%= f.hidden_field :url, value: @recipe.url %>
  <%= f.hidden_field :instructions, value: @recipe.instructions %>
<% else %> 

 <% if @country_consumption_name %>
  <p>
    Country of consumption: <%= @country_consumption_name %>
  </p>
 <% end %>
<% end %>
 
<div class="space_4"></div>

<h2>Ingredients</h2>

<% if @csv_table %>
<table class="stripe dataTable no-footer" style="max_width_1024">
  <thead>
    <tr>
      <th>CO2e (kg)</th>
      <th>Product</th>
      <th>Amount (kg)</th>
      <th>Description</th>
      <% if user_signed_in? && current_user.admin? %>
      <th>Country produced</th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  
  <tbody id="product-rows">
<% @csv_table.each_with_index do |row, i| %> 
    <tr id="product-row-<%=i.to_s%>">
      <td><div class="co2_cell" style="float:right; background-color: #ccc" id="product-co2e-<%=i.to_s%>"></div></td>
      <td><%= f.text_field :product_name, :value => row.fetch(:product_name), :multiple => true, id: 'product-autocomplete-' + i.to_s, :onChange=> "javascript: updateIngredient(this.id.match(/\\d+/g)[0]);" %></td>
      <td><%= f.number_field :weight, step: 0.001, style: 'max-width: 80px', value: row.fetch(:weight), :multiple => true, id: 'product_weight_' + i.to_s, :onInput=> "javascript: updateIngredient(this.id.match(/\\d+/g)[0]);" %></td>
      <td><%= f.text_field :item_name, :value => row.fetch(:item_name), style: 'max-width: 320px', :multiple => true, id: 'product_item_name_' + i.to_s %></td>
      <% if user_signed_in? && current_user.admin? %>
      <td><%= f.text_field :country_origin_name, style: 'max-width: 120px', value: row.fetch(:country_name), :multiple => true, id: 'country-autocomplete-' + i.to_s %></td>
      <% end %>
      <td>
        <%= link_to image_tag("erase.png", size: "12x12", alt: "Remove"), "javascript:void(0);",  id: 'product_remove_' + i.to_s, class: 'no-print', :onclick => 'javascript:removeIngredient(this.id.match(/\\d+/g)[0]);' %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<div class="space_16"></div>

<button type="button" onclick="addIngredient()" class="green button no-print">Add ingredient</button>

<script>
var ingredients = []
initRecipe(<%=@csv_table.length%>);
</script>

<div class="space_16"></div>

<% if user_signed_in? && current_user.admin? %>
<div class="actions">
  <%= f.submit class: "green button" %>
</div>
<% end %>

<% end # if @csv_table %>

<% end # form_for(@recipe) do |f| %>

<% if not @csv_table # if @csv_table %>

<%= form_for(@ingredient) do |i| %>
  <%= i.hidden_field :recipe, value: @recipe.uuid %>

<table id="ingredients_table">
  <thead>
    <tr>
      <th>CO2e (kg)</th>
      <th>Product</th>
      <th>Amount (kg)</th>
      <th>Description</th>
      <th>Country produced</th>
      <% if user_signed_in? && current_user.admin? %>
      <th></th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
  <% if user_signed_in? && current_user.admin? %>
    <tr>
      <td style="text-align:right;"><% if @ingredient.product %>
          <%= (@ingredient.weight * @ingredient.product.co2_equiv).round(3) %>
          <% else %>
          N/A
          <% end %></td>
      <td><%= i.text_field :product_name, autofocus: true, id: 'product-autocomplete', :required => true %></td>
      <td><%= i.number_field :weight, step: 0.001, :required => true, style: "width:50px" %></td>
      <td><%= i.text_field :description %></td>
      <td><%= i.text_field :country_origin_name, id: 'country-autocomplete-origin', :required => true %></td>
      <td><%= i.submit (@ingredient.product ? 'Update' : 'Add'), class: "green button" %></td>
    </tr>
  <% end %>
  <% @recipe.ingredients.each_with_index do |ingredient, i| %>
    <% if @ingredient != ingredient %> 
    <tr>
      <td>
        <div class="co2_cell" style="float:right; background-color:<%= ingredient.co2_equiv_color(@recipe.servings) %>"><%= ingredient.co2_equiv %></div>
      </td>
      <td><%= link_to ingredient.product.name, ingredient.product, class: ingredient.product.reliability_class %></td>
      <td><%= ingredient.weight %></td>
      <td><%= ingredient.description %></td>
      <td><%= ingredient.country_origin_name %></td>
      <% if user_signed_in? && current_user.admin? %>
      <td>
        <%= link_to image_tag("modify.png", size: "12x12", alt: "Edit"), params.permit(:edit_ingredient).merge(edit_ingredient: ingredient), remote: true %>
        <%= link_to image_tag("erase.png", size: "12x12", alt: "Remove"), ingredient, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
      </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<script>
var ingredients = <%=@recipe.ingredients.map{|i| {:label => i.product.name, :value => i.co2_equiv, :color => i.co2_equiv_color(@recipe.servings) }}.to_json.html_safe%>;

displayIngredientPieChart(ingredients);
drawGauge(<%=@recipe.co2_equiv_per_serving%>, '<%=@recipe.co2_equiv_color%>');
drawDailyBudget(<%=@recipe.co2_equiv_per_serving%>);
</script>

<% end # form_for(@ingredient) do |i| %>

<% end # if @csv_table %>

<% if (@recipe.url && @recipe.url.length > 0) || (@recipe.instructions && @recipe.instructions.length > 0) %>
<div class="space_16"></div>

<h2>Instructions</h2>

<% if @recipe.url && @recipe.url.length > 0 %>
<p>
  Source: <%= link_to @recipe.url, @recipe.url, target: "_blank" %>
</p>
<% end %>
<% if @recipe.instructions %>
<div class="instructions_pane">
  <ol>
  <% for row in @recipe.instructions.split("\n") %>
    <% if row.start_with?('[') && row.end_with?(']') %>
    <h4><%=row[1..-2]%></h4>
    <% else %>
    <li><%=row%></li>
    <% end %>
  <% end %>
  </ol>
</div>
<% end %>

<% end %>
