<h1><%= @recipe.name %></h1>

<%= link_to 'Edit recipe', edit_recipe_path(@recipe), class: "green button" %>
<%= link_to 'Delete', @recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "green button" %>

<p>
  CO2 equivalent ("CO2e") per serving: <strong><%= @recipe.co2_equiv_per_serving %> kg</strong><br />
  CO2 equivalent ("CO2e"): <%= @recipe.co2_equiv %> kg
</p>

<p>
  Servings: <%= @recipe.servings %>
</p>

<p>
  Country of consumption: <%= @recipe.country_consumption.name %>
</p>

<%= render 'pie_chart' %>

<%= form_for(@ingredient) do |f| %>
  <%= f.hidden_field :recipe, value: @recipe.uuid %>

<table id="ingredients_table">
  <thead>
    <tr>
      <th>CO2e (kg)</th>
      <th>Product</th>
      <th>Amount (kg)</th>
      <th>Description</th>
      <th>Country produced</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td style="text-align:right;"><% if @ingredient.product %>
          <%= (@ingredient.weight * @ingredient.product.co2_equiv).round(3) %>
          <% else %>
          N/A
          <% end %></td>
      <td><%= f.text_field :product_name, autofocus: true, id: 'product-autocomplete', :required => true %></td>
      <td><%= f.number_field :weight, step: 0.001, :required => true, style: "width:50px" %></td>
      <td><%= f.text_field :description %></td>
      <td><%= f.text_field :country_origin_name, id: 'country-autocomplete-origin', :required => true %></td>
      <td><%= f.submit (@ingredient.product ? 'Update' : 'Add'), class: "green button" %></td>
    </tr>
  <% @recipe.ingredients.each_with_index do |ingredient, i| %>
    <% if @ingredient != ingredient %> 
    <tr>
      <td>
        <div class="co2_cell" style="float:right; background-color:<%= ingredient.co2_equiv_color(@recipe.servings) %>"><%= ingredient.co2_equiv %></div>
      </td>
      <td><%= link_to ingredient.product.name, ingredient.product, class: ingredient.product.reliability_class %></td>
      <td><%= ingredient.weight %></td>
      <td><%= ingredient.description %></td>
      <td><%= link_to ingredient.country_origin_name, ingredient.country_origin %></td>
      <td>
        <%= link_to image_tag("modify.png", size: "12x12", alt: "Edit"), params.permit(:edit_ingredient).merge(edit_ingredient: ingredient), remote: true %>
        <%= link_to image_tag("erase.png", size: "12x12", alt: "Remove"), ingredient, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<% end %>
