<% content_for(:html_title) { @recipe.name } %>
<% content_for(:meta_description) { @recipe.meta_description } %>

<h1><%= @recipe.name %>
<% if user_signed_in? && current_user.admin? && !@csv_table %>
  <%= link_to image_tag("modify.png", size: "18x18", alt: "Edit"), edit_recipe_path(@recipe) %>
  <%= link_to image_tag("erase.png", size: "18x18", alt: "Remove"), @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</h1>

<% if @recipe.tags.any? %>
    <div>
        <% @recipe.tags.each do |tag| %>
            <div class="tag float" style="background-color:<%= tag.color %>"><%=link_to tag.name, recipes_tag_path(tag), remote: true %></div>
        <% end %>
    </div>
    <div class="clear"></div>
<% end %>

<% if @recipe.description %>
    <p>
        <%= @recipe.description %>
    </p>
<% end %>

<%= form_for(@recipe) do |f| %>

<div class="pie_chart">
<%= render partial: 'pie_chart', locals: { recipe: @recipe } %>
</div>

<%= render partial: 'info_chart', locals: { recipe: @recipe, f: f, csv_table: @csv_table } %>

<div class="clear"></div>

<% if user_signed_in? && current_user.admin? && @csv_table %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country_consumption %><br>
    <%= f.text_field :country_consumption_name, :value => @country_consumption_name, id: 'country-autocomplete-consumption', :required => true %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.select :tags, options_from_collection_for_select(Tag.order(:name), :id, :name, @recipe.tags.map{ |s| s.id }), {:include_hidden => false}, {multiple: true, class: 'chosen-select', data: {placeholder: 'Add tags'}} %>
  </div>
  
  <%= f.hidden_field :url, value: @recipe.url %>
  <%= f.hidden_field :instructions, value: @recipe.instructions %>
<% else %> 

 <% if @country_consumption_name %>
  <!--<p>
    Country of consumption: <%= @country_consumption_name %>
  </p>-->
 <% end %>  
<% end %>
 
<div class="space_4"></div>

<h2>Ingredients</h2>

<% if @csv_table %>
<table class="dataTable no-footer max_width_1024">
  <thead>
    <tr>
      <th>CO2e (kg)</th>
      <th>Product</th>
      <th>Amount (kg)</th>
      <th>Description</th>
      <% if user_signed_in? && current_user.admin? %>
      <th>Country produced</th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  
  <tbody id="product-rows">
<% @csv_table.each_with_index do |row, i| %> 
    <tr id="product-row-<%=i.to_s%>">
      <td><div class="co2_cell" style="float:right; background-color: #ccc" id="product-co2e-<%=i.to_s%>"></div></td>
      <td><%= f.text_field :product_name, :value => row.fetch(:product_name), :multiple => true, id: 'product-autocomplete-' + i.to_s, :onChange=> "javascript: updateIngredient(this.id.match(/\\d+/g)[0]);" %></td>
      <td><%= f.number_field :weight, step: 0.001, style: 'max-width: 80px', value: row.fetch(:weight), :multiple => true, id: 'product_weight_' + i.to_s, :onInput=> "javascript: updateIngredient(this.id.match(/\\d+/g)[0]);" %></td>
      <td><%= f.text_field :item_name, :value => row.fetch(:item_name), style: 'max-width: 320px', :multiple => true, id: 'product_item_name_' + i.to_s %></td>
      <% if user_signed_in? && current_user.admin? %>
      <td><%= f.text_field :country_origin_name, style: 'max-width: 120px', value: row.fetch(:country_name), :multiple => true, id: 'country-autocomplete-' + i.to_s %></td>
      <% end %>
      <td>
        <%= link_to image_tag("erase.png", size: "12x12", alt: "Remove"), "javascript:void(0);",  id: 'product_remove_' + i.to_s, class: 'no-print', :onclick => 'javascript:removeIngredient(this.id.match(/\\d+/g)[0]);' %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<div class="space_16"></div>

<button type="button" onclick="addIngredient()" class="green button no-print">Add ingredient</button>

<script>
var ingredients = []
initRecipe(<%=@csv_table.length%>);
</script>

<div class="space_16"></div>

<% if user_signed_in? && current_user.admin? %>

<div class="field" style="clear:both;">
  <%= check_box_tag :expire_cache, 'yes', true %> Expire cache
</div>

<div class="actions">
  <%= f.submit class: "green button" %>
</div>
<% end %>

<% end # if @csv_table %>

<% end # form_for(@recipe) do |f| %>

<% if not @csv_table # if @csv_table %>

<%= form_for(@ingredient) do |i| %>
  <%= i.hidden_field :recipe, value: @recipe.uuid %>

<table id="ingredients_table">
  <thead>
    <tr>
      <th>CO2e (kg)</th>
      <th>Product</th>
      <th>Amount (kg)</th>
      <th>Description</th>
      <th>Country produced</th>
      <% if user_signed_in? && current_user.admin? %>
      <th></th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
  <% if user_signed_in? && current_user.admin? %>
    <tr>
      <td style="text-align:right;"><% if @ingredient.product %>
          <%= (@ingredient.weight * @ingredient.product.co2_equiv).round(3) %>
          <% else %>
          N/A
          <% end %></td>
      <td><%= i.text_field :product_name, autofocus: true, id: 'product-autocomplete', :required => true %></td>
      <td><%= i.number_field :weight, step: 0.001, :required => true, style: "width:50px" %></td>
      <td><%= i.text_field :description %></td>
      <td><%= i.text_field :country_origin_name, id: 'country-autocomplete-origin', :required => true %></td>
      <td><%= i.submit (@ingredient.product ? 'Update' : 'Add'), class: "green button" %></td>
    </tr>
  <% end %>
  <% @recipe.ingredients.each_with_index do |ingredient, i| %>
    <% if @ingredient != ingredient %> 
    <tr>
      <td>
        <div class="co2_cell" style="float:right; background-color:<%= ingredient.co2_equiv_color(@recipe.servings) %>"><%= ingredient.co2_equiv %></div>
      </td>
      <td><%= link_to ingredient.product.name, ingredient.product, class: ingredient.product.reliability_class %></td>
      <td><%= ingredient.weight %></td>
      <td><%= ingredient.description %></td>
      <td><%= ingredient.country_origin_name %></td>
      <% if user_signed_in? && current_user.admin? %>
      <td>
        <%= link_to image_tag("modify.png", size: "12x12", alt: "Edit"), params.permit(:edit_ingredient).merge(edit_ingredient: ingredient), remote: true %>
        <%= link_to image_tag("erase.png", size: "12x12", alt: "Remove"), ingredient, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
      </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<% end # form_for(@ingredient) do |i| %>

<% end # if @csv_table %>

<% if (@recipe.url && @recipe.url.length > 0) || (@recipe.instructions && @recipe.instructions.length > 0) %>
<div class="space_16"></div>

<h2>Instructions</h2>

<% if @recipe.url && @recipe.url.length > 0 %>
<p>
  Source: <%= link_to @recipe.url, @recipe.url, target: "_blank" %>
</p>
<% end %>
<% if @recipe.instructions %>
<div class="instructions_pane">
  <ol>
  <% for row in @recipe.instructions.split("\n") %>
    <% if row.start_with?('[') && row.end_with?(']') %>
    <h4><%=row[1..-2]%></h4>
    <% else %>
    <li><%=row%></li>
    <% end %>
  <% end %>
  </ol>
</div>
<% end %>

<% end %>
