<% content_for(:html_title) { "Recipes tagged: " + @tag.name + "" } %>

<h1>Tagged: "<%= @tag.name %>"</h1>

<table id="tagged_recipes_table">
  <thead>
    <tr>
      <th>Recipes</th>
    </tr>
  </thead>
  
  <tbody>
<% @recipes.each_with_index do |recipe, i| %>
    <tr>
      <td>
        <div class="card">
          <div class="card-text">
          <strong><%= link_to recipe.name, recipe, remote: true %></strong>
          </div>
          <div class="card-text">
          <% recipe.tags.each do |tag| %>
              <div class="tag float" style="background-color:<%= tag.color %>"><%=link_to tag.name, recipes_tag_path(tag), remote: true %></div>
          <% end %>
          </div>
          <div class="card-text float_right">
            <div class="co2_cell" id="co2_cell_gauge" style='display:inline-block; margin-right: 5px; background-color:<%= recipe.co2_equiv_color %>'><span class="recipe-co2e-per-serving"><%= recipe.co2_equiv_per_serving %></span></div>kg CO2e / portion
          </div>
        </div>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
