<p id="notice"><%= notice %></p>

<h1>My Recipes</h1>

<%= link_to 'Add Recipe', new_recipe_path, class: "green button" %>

<div class="space_16"></div>

<table id="recipes_table" class="stripe">
  <thead>
    <tr>
      <th>Name</th>
      <th>CO2e (kg) per serving</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <% emission = recipe.co2_equiv %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><div class='co2_cell' style='background-color:<%= recipe.co2_equiv_color %>'><%= (emission / recipe.servings).round(3) %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
