<h1>Editing CSV recipe</h1>

<%= form_for(@recipe) do |f| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :servings %><br>
    <%= f.number_field :servings, step: 1.0 %>
  </div>
  <div class="field">
    <%= f.label :country_consumption %><br>
    <%= f.text_field :country_consumption_name, :value => @country_consumption_name, id: 'country-autocomplete-consumption', :required => true %>
  </div>
  
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Product</th>
      <th>Amount (kg)</th>
      <th>Country produced</th>
    </tr>
  </thead>
  
  <tbody>
<% @csv_table.each_with_index do |row, i| %> 
    <tr>
      <td><%= f.text_field :item_name, :value => row.fetch(:item_name), :multiple => true, id: 'product_item_name_' + i.to_s %></td>
      <td><%= f.text_field :product_name, :value => row.fetch(:product_name), :multiple => true, id: 'product-autocomplete-' + i.to_s %></td>
      <td><%= f.number_field :weight, step: 0.001, value: row.fetch(:weight), :multiple => true, id: 'product_weight_' + i.to_s %></td>
      <td><%= f.text_field :country_origin_name, value: row.fetch(:country_name), :multiple => true, id: 'product_country_origin_name_' + i.to_s %></td>
    </tr>
<% end %>
  </tbody>
</table>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
