<% content_for(:html_title) { @resource.name } %>
<% content_for(:meta_description) { @resource.name + " (" + @resource.url + ")" } %>

<h1>
  <%= @resource.name %>
</h1>

<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit resource', edit_resource_path(@resource), class: "green button" %>
<% end %>

<p>
  Notes:
  <%= render partial: 'layouts/wiki', locals: { wiki: @notes } %>
</p>

<p>
  URL: <%= link_to @resource.url, @resource.url, target: "_blank" %>
</p>

<p>
  Default weight: <%= @resource.default_weight %>
</p>

<p>
  Peer reviewed: <%= @resource.peer_reviewed.to_s.titleize %> <%= @resource.peer_reviewed_penalty_string %><br />
  Number of products: <%= @resource.num_products.to_s.titleize %> <%= @resource.num_products_penalty_string %><br />
  Meta study: <%= @resource.meta_study.to_s.titleize %> <%= @resource.meta_study_penalty_string %><br />
  Commissioned: <%= @resource.commissioned.to_s.titleize %> <%= @resource.commissioned_penalty_string %><br />
  Year of study: <%= @resource.year_of_study.to_s.titleize %> <%= @resource.year_of_study_penalty_string %><br />
  Methodology described: <%= @resource.methodology_described.to_s.titleize %> <%= @resource.methodology_described_penalty_string %><br />
  Reputation of source: <%= @resource.source_reputation.to_s.titleize %> <%= @resource.source_reputation_penalty_string %><br />
</p>

<h2>Products</h2>

<% if user_signed_in? && current_user.admin? %>
<%= link_to "Add product", new_source_path(:resource_id => @resource), class: "green button" %>
<div class="space_16"></div>
<% end %>

<table id="sources_product_table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Notes</th>
      <th>Country origin</th>
      <th>Country consumption</th>
    </tr>
  </thead>
</table>

