<p id="notice"><%= notice %></p>

<p>
  <strong>Resource name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Resource URL:</strong>
  <%= link_to @resource.url, @resource.url %>
</p>

<p>
  <strong>Resource default weight:</strong>
  <%= @resource.default_weight %>
</p>

<h3>Products</h3>

<%= link_to "Add product", new_source_path(:resource_id => @resource) %>

<div class="space_16"></div>

<table id="sources_table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Country origin</th>
      <th>Country consumption</th>
      <th>Co2 equiv</th>
      <th>Weight</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
  <% @resource.sources.with_associations(:product, :country_origin, :country_consumption).each_with_index do |source, i| %>
    <tr>
        <td><%= link_to source.product_name, source.product %></td>
        <td><%= link_to source.country_origin_name, source.country_origin %></td>
        <td><%= link_to source.country_consumption_name, source.country_consumption %></td>
        <td><%= source.co2_equiv %></td>
        <td><%= source.weight %></td>
        <td><%= link_to 'Show', source %>
            <%= link_to 'Edit', edit_source_path(source) %>
            <%= link_to 'Delete', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
