<% content_for(:html_title) { 'Products' } %>

<h1>Welcome to LiveLCA</h1>

<%= render partial: 'recipes/form_simple' %>

<div class="card wide">
  <h3>Latest blog</h3>
  <div class="card-title"><%= link_to @latest_blog.title, @latest_blog %></div>
  <div class="card-text">
    <%= truncate(strip_tags(@latest_blog_wiki), length: 400, separator: ' ', omission: ' ... ').html_safe %>
    <%= link_to '[Read more]', @latest_blog %>
  </div>
</div>

<div class="card narrow">
  <h3>Statistics</h3>
  <table>
    <tr>
      <td width="220"><%= link_to "Products", products_path, remote: true %></td>
      <td><%=@product_count%></td>
    </tr>
    <tr>
      <td><%= link_to "Resources", resources_path %></td>
      <td><%=@resource_count%></td>
    </tr>
    <tr>
      <td><%= link_to "Emission factors", products_path, remote: true %></td>
      <td><%=@study_count%></td>
    </tr>
    <tr>
      <td><%= link_to "Recipes", recipes_path %></td>
      <td><%=@recipe_count%></td>
    </tr>
  </table>
</div>

<div class="clear"></div>

<div class="card narrow">
  <h3>Product of the day</h3>
  <div class="card-title"><strong><%= link_to @random_product.name, @random_product, remote: true %></strong></div>
  <div class="card-graph"><%= render partial: 'info_chart', locals: { product: @random_product } %></div>
  <div class="card-text">Studies: <%= @random_product.study_count %><% if @random_product.proxy && @random_product.study_count == 0 %> (proxy: <%= link_to @random_product.proxy.name, @random_product.proxy %>)<% end %></div>
</div>

<%= render partial: 'recipes/recipe_of_the_day' %>

