<% content_for(:html_title) { @product.name } %>

<h1>
  <%= @product.name %>
</h1>

<div id="co2_gauge" class="co2_chart">
  <div class="front"></div><div class="back"></div>
  <div class="co2_cell" style='display:inline-block; margin-right: 5px; background-color:<%= @product.co2_equiv_color %>'><%= @product.co2_equiv %></div><strong>CO2e / kg</strong>
  <script>drawGauge(<%=@product.co2_equiv%>, '<%=@product.co2_equiv_color%>');</script>
</div>

<% if user_signed_in? && current_user.admin? %>
<p>
  <%= link_to 'Edit article', edit_product_path(@product), class: "green button" %> <%= link_to 'Merge article', merge_product_path(@product), class: "green button" %>
</p>
<% end %>

<% if @supercategories.count > 0 %>
<p>
  Categories:
  <% for supercategory in @supercategories do %>
    <%= link_to supercategory.name, supercategory, remote: true %>
    <% if @supercategories.last != supercategory %>|<% end %>
  <% end %>
</p>
<% end %>

<% if @product.proxy and @product.studies.count == 0 %>
<p>
  Proxy: <%= link_to @product.proxy.name, @product.proxy, remote: true %>
</p>
<% end %>

<p>
  <%= @wiki.html_safe %>
</p>

<% if @product.subcategories_count > 0 %>
<p>
  Subcategories:
  <% @product.subcategories.each_with_index do |subcategory, i| %>
    <%= link_to subcategory.name, subcategory, remote: true %>
    <% if i != @product.subcategories_count - 1 %>|<% end %>
  <% end %>
</p>
<% end %>

<%= render 'graph' %>

<h2>Studies</h2>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Add study", new_source_path(:product_id => @product), class: "green button" %>
<% end %>

<% if @product.study_count > 0 %>

<div class="space_16"></div>

<table id="sources_table" class="stripe">
  <thead>
    <tr>
      <th>Source</th>
      <th>CO2e</th>
      <th>Country origin</th>
      <th>Country consumption</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @product.studies.with_associations(:country_origin, :country_consumption, :product, :resource).each_with_index do |source, i| %>
      <tr>
        <td><% if user_signed_in? && current_user.admin? %>
            <%= link_to image_tag("modify.png", size: "12x12", alt: "Edit"), edit_source_path(source) %>
            <%= link_to image_tag("erase.png", size: "12x12", alt: "Delete"), source, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
            <%= link_to content_tag(:span, source.resource.name, title: source.notes), source.resource %>
            </td>
        <td><div class='co2_cell' style='background-color:<%= source.co2_equiv_color %>;float:right;'><%= source.co2_equiv %></div></td>
        <td><%= link_to source.country_origin_name, source.country_origin %></td>
        <td><%= link_to source.country_consumption_name, source.country_consumption %></td>
        <td><%= source.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>
  No studies available yet.
</p>
<% end %>

