<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= link_to 'Add Product', new_product_path %>

<div class="space_16"></div>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th colspan="2">CO2e per kg</th>
      <th>Studies</th>
    </tr>
  </thead>

  <tbody>
    <% @products.with_associations(:studies, :proxy).each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td style="background-color:<%= product.co2_equiv_color %>">&nbsp;
        </td>
        <td>
          <%= product.co2_equiv %>
        </td>
        <td>
          <% if product.study_count > 0 %>
            <%= product.study_count %>
          <% else %>
            N/A
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

