<p id="notice"><%= notice %></p>

<h2>Products</h2>

<%= link_to 'Add Product', new_product_path %>

<div class="space_16"></div>

<!---<div class="search_box">
  <%= form_tag products_path, :method => 'get' do %>  
    <%= text_field_tag :search, params[:search], class: "search_field", :id => 'product-autocomplete', :placeholder => "Search" %>
    <%= submit_tag "Find product", :name => nil, class: "search_submit" %>
  <% end %>
</div>--->
      
<div class="space_16"></div>
<table id="products_table">
  <thead>
    <tr>
      <th>Product</th>
      <th>&nbsp;</th>
      <th>CO2e per kg</th>
      <th>Studies</th>
    </tr>
  </thead>

  <tbody>
    <% @products_plus.each do |product| %>
      <tr>
        <td><%= link_to product.name, product, class: product.reliability_class %></td>
        <td style="width:20px; background-color:<%= product.co2_equiv_color %>">&nbsp;
        </td>
        <td>
          <%= product.co2_equiv %>
        </td>
        <td>
          <% if product.study_count > 0 %>
            <%= product.study_count %>
          <% else %>
            N/A
            <% if product.proxy %>
              (proxy: <%= link_to product.proxy.name, product.proxy %>)
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if false %>
<%= render 'graph' %>
<% end %>
