<p id="notice"><%= notice %></p>

<h2>Products</h2>

<%= link_to 'Add Product', new_product_path, class: "green button" %>

<div class="space_16"></div>

<!---<div class="search_box">
  <%= form_tag products_path, :method => 'get' do %>  
    <%= text_field_tag :search, params[:search], class: "search_field", :id => 'product-autocomplete', :placeholder => "Search" %>
    <%= submit_tag "Find product", :name => nil, class: "search_submit" %>
  <% end %>
</div>--->
      
<div class="space_16"></div>
<table id="products_table">
  <thead>
    <tr>
      <th>Product</th>
      <th>&nbsp;</th>
      <th>CO2e per kg</th>
      <th>Studies</th>
    </tr>
  </thead>
</table>

