<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit article', edit_product_path(@product) %> | <%= link_to 'Merge article', merge_product_path(@product) %>
</p>

<h1>
  <%= @product.name %>
</h1>

<% if @supercategories.count > 0 %>
<p>
  Categories:
  <% for supercategory in @supercategories do %>
    <%= link_to supercategory.name, supercategory %>
    <% if @supercategories.last != supercategory %>|<% end %>
  <% end %>
</p>
<% end %>

<% if @product.proxy and @product.studies.count == 0 %>
<p>
  Proxy: <%= link_to @product.proxy.name, @product.proxy %>
</p>
<% end %>

<p>
  <%= @wiki.html_safe %>
</p>

<% if @product.subcategories_count > 0 %>
<p>
  Subcategories:
  <% @product.subcategories.each_with_index do |subcategory, i| %>
    <%= link_to subcategory.name, subcategory %>
    <% if i != @product.subcategories_count - 1 %>|<% end %>
  <% end %>
</p>
<% end %>

<h2>Studies</h2>

<% if @product.study_count > 0 %>

CO2e per kg (weighted average): <%= @product.co2_equiv %>

<div class="space_16"></div>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Country origin</th>
      <th>Country consumption</th>
      <th>CO2e</th>
      <th>Notes</th>
      <th>Weight</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.studies.with_associations(:country_origin, :country_consumption, :product, :resource).each_with_index do |source, i| %>
      <tr>
        <td><%= link_to source.resource.name, source.resource %></td>
        <td><%= link_to source.country_origin.name, source.country_origin %></td>
        <td><%= link_to source.country_consumption.name, source.country_consumption %></td>
        <td><%= source.co2_equiv %></td>
        <td><%= source.notes %></td>
        <td><%= source.weight %></td>
        <td><%= link_to 'Edit', edit_source_path(source) %></td>
        <td><%= link_to 'Delete', source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>
  No studies available yet.
</p>
<% end %>

<%= link_to "Add study", new_source_path(:product_id => @product) %>
