<%= form_for(@receipt) do |f| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <% @receipt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_field :date, :required => true %>
  </div>
  <div class="field">
    <%= f.label :store %><br>
    <%= f.text_field :store, :required => true %>
  </div>
  <div class="field">
    <%= f.label :country_consumption %><br>
    <%= f.text_field :country_consumption_name, :value => @country_consumption_name, id: 'country-consumption-autocomplete', :required => true %>
  </div>
  <div class="field">
    <%= f.label "Upload receipt (scan or CSV)" %><br>
    <%= f.file_field :receipt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
