<p id="notice"><%= notice %></p>

<h1>Listing Receipts</h1>

<div class="space_16"></div>

<% total_sum = 0.0 %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Receipt</th>
      <th>CO2e (kg)</th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.with_associations(:purchases).each do |receipt| %>
      <% @emission = receipt.co2_equiv
         total_sum += @emission %>
      <tr>
        <td><%= receipt.date.strftime("%F") %></td>
        <td><%= link_to receipt.store, receipt %></td>
        <td><%= @emission %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="space_16"></div>

Total emission CO2 equivalent ("CO2e"): <%= total_sum.round(3) %> kg

<div class="space_16"></div>

<%= link_to 'New Receipt', new_receipt_path %>
