<p id="notice"><%= notice %></p>

<h1>Listing Receipts</h1>

Total emission CO2 equivalent ("CO2e"): <%= @receipts.map{|r| r.co2_equiv}.sum.round(3) %> kg

<div class="space_16"></div>

<table>
  <thead>
    <tr>
      <th>Receipt</th>
      <th>CO2e (kg)</th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= link_to receipt.store, receipt %> (<%= receipt.date.strftime("%F") %>)</td>
        <td><%= receipt.co2_equiv %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipt', new_receipt_path %>
