<p id="notice"><%= notice %></p>

<%= link_to 'Edit details', edit_receipt_path(@receipt) %> | 
<%= link_to 'Delete', @receipt, method: :delete, data: { confirm: 'Are you sure?' } %>

<h1><%= @receipt.store %> (<%= @receipt.date.strftime("%F") %>)</h1>

<p>
  Country of purchase: <%= @receipt.country_consumption.name %>
</p>

<p>
  Total emission CO2 equivalent ("CO2e"): <%= @receipt.co2_equiv %> kg
</p>
<div class="space_16"></div>

<%= form_for(@purchase) do |f| %>
  <%= f.hidden_field :receipt, value: @receipt.uuid %>

<table>
  <thead>
    <tr>
      <th>CO2e (kg)</th>
      <th>Product</th>
      <th>Amount (kg)</th>
      <th>Country produced</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td></td>
      <td><%= f.text_field :product_name, autofocus: true, id: 'product-autocomplete', :required => true %></td>
      <td><%= f.number_field :weight, step: 0.001, :required => true %></td>
      <td><%= f.text_field :country_origin_name, id: 'country-autocomplete-origin', :required => true %></td>
      <td><%= f.submit %></td>
    </tr>
  <% @receipt.purchases.each_with_index do |purchase, i| %>
    <% if purchase != @purchase %>
    <tr>
      <td><%= (purchase.weight * purchase.product.co2_equiv).round(3) %></td>
      <td><%= link_to purchase.product.name, purchase.product %></td>
      <td><%= purchase.weight %></td>
      <td><%= link_to purchase.country_origin_name, purchase.country_origin %></td>
      <td>
        <%= link_to 'Remove', purchase, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit', params.merge(edit_purchase: purchase) %>
      </td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<% end %>
