<!DOCTYPE html>
<html>
<head>
  <title>Livelca</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <a href="/"><h1>LiveLCA</h1></a>
    </div>
    <div id="leftnav">
      <%= link_to "Products", products_path %>
      
      <div class="space_8"></div>
      
      <% if user_signed_in? %>
        <%= link_to 'My Receipts', receipts_path %>
        <%= link_to 'Edit profile', edit_user_registration_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>        
      <% else %>
        <%= link_to 'Login', new_user_session_path %>  
      <% end %>
    </div>
    
    <div id="content">
      <p id="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</body>
</html>
