<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:html_title) ? yield(:html_title) + " | LiveLCA" : "LiveLCA" %></title>
  <meta name='description' content='<%= content_for?(:meta_description) ? yield(:meta_description) : default_meta_description %>' />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
  <link rel="canonical" href="<%=url_for(:only_path => false, :protocol => 'https', :host => 'livelca.com')%>" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat&display=swap" rel="stylesheet">
  <%= yield(:head) %>
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//www.livelca.com:8080/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->
</head>
<body>
  <div id="background"></div>
  <div id="container">
    <div id="header" class="navbar">
      <div id="logo">
        <a href="/">LiveLCA</a>
      </div>
      
      <div class="no-print">
        <input type="checkbox" id="nav-toggle">
        <label for="nav-toggle"><span class="toggle-words">Menu</span></label>
        <div id="navbar">
          <%= nav_link "Products", products_path %>
          <%= nav_link "Blog", blogs_path %>
          <%= nav_link 'Recipes', recipes_path %>
          <%= nav_link "Resources", resources_path %>
          <%= nav_link "Products graph", product_graph_path %>
          <%= nav_link "About", "/pages/about" %>
          <% if user_signed_in? %>
            <%= nav_link 'Edit profile', edit_user_registration_path %>
            <%= nav_link 'Logout', destroy_user_session_path, method: :delete %>        
          <% else %>
            <%= nav_link 'Login', new_user_session_path %>  
          <% end %>
          
          <div class="hspace_8"></div>
          
          <%= form_tag products_path, :class => "search_box", :method => 'get' do %>
            <div class="tb">
              <div class="td">
                <%= text_field_tag :search, params[:search], class: "search_field", :id => 'product-select-autocomplete', :placeholder => "Search", :size => 15 %>
              </div>
              <div class="td" id="s-cover">
                <%= button_tag "", :type => "submit", :name => nil, class: "search_submit" do %>
                <div id="s-circle"></div>
                <span></span>
                <% end %>  
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    
    <div id="content">
      <% if alert %><p id="alert"><%= alert %></p><% end %>
      <% if notice %><p id="notice"><%= notice %></p><% end %>
      <%= yield %>
    </div>
    
    <div id="footer">
    	&#169; 2021 Matthew The, Ditte Juhl and LiveLCA contributors 
    </div>
  </div>
</body>
</html>
