<!DOCTYPE html>
<html>
<head>
  <title>Livelca</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <a href="/"><h1>LiveLCA</h1></a>
    </div>
    <div id="leftnav">
      <%= nav_link "Products", products_path %>
      <%= nav_link "Resources", resources_path %>
      
      <div class="space_8"></div>
      
      <% if user_signed_in? %>
        <%= nav_link 'My Receipts', receipts_path %>
        <%= nav_link 'My Recipes', recipes_path %>
        <%= nav_link 'Edit profile', edit_user_registration_path %>
        <%= nav_link 'Logout', destroy_user_session_path, method: :delete %>        
      <% else %>
        <%= nav_link 'Login', new_user_session_path %>  
      <% end %>
      
      <div class="space_8"></div>
      
      <%= form_tag products_path, :method => 'get' do %>  
        <%= text_field_tag :search, params[:search], class: "search_field", :id => 'product-autocomplete', :placeholder => "Search", :size => 15 %>
        <%= submit_tag "Find product", :name => nil, class: "search_submit" %>
      <% end %>
    </div>
    
    <div id="content">
      <p id="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </div>
</body>
</html>
